.slide-in {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #ff8811;
  transform-origin: bottom;
}
.slide-out {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #121619;
  transform-origin: top;
}
